/*--------------- basic styling FOR PROJECTS!--------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Mabry" !important;
      background: #F8F8F8!important;
      color: #1E1E1E!important;
      box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.whitespace {
      width: 100%;
      height: 100px;
}
.whitespace1 {
      width: 100%;
      height: 50px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}
/*--------------- List of Font Families --------------- */
@font-face {
      src: url(fonts/190reg.ttf);
      font-family: Mabry;
}

@font-face {
      src: url(fonts/opp180reg.ttf);
      font-family: opposit;
}

@font-face {
      src: url(fonts/opp181B.ttf);
      font-family: opposit-sb;
}

@font-face {
      src: url(fonts/Apercu.ttf);
      font-family: Apercu;
}

@font-face {
      src: url(fonts/Apercu Bold.otf);
      font-family: ApercuBold;
}

@font-face {
      src: url(fonts/Apercu Light Italic.otf);
      font-family: ApercuLightIalic;
}

@font-face {
      src: url(fonts/Apercu Light.otf);
      font-family: ApercuLight;
}

@font-face {
      src: url(fonts/Apercu Medium.otf);
      font-family: ApercuMed;
}



/*--------------- navigation --------------- */
nav {
      width: 100%;
      background:#F8F8F8 ;
      position: fixed;
      z-index: 1;
      font-size: 17px;
      font-family: Mabry, Roboto-mono, sans-serif;

}

nav #menu {
      float: none;
      text-align: center;
}

nav #menu li {
      display: inline-block;
      margin-right: 40px;
      cursor: pointer;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li a {
      color: #1E1E1E;
}

nav #menu li a:hover {
      text-decoration: none;
}

.extra { 
    float: left;
    display: none;
    font-family: Mabry,sans-serif;
    font-size: 20px;
    color: #1E1E1E;
    padding-right: 20px;
}

li:hover .extra {
    display: inline-block;
}

.here { 
    float: left;
    font-family: Mabry,sans-serif;
    font-size: 20px;
    color: #1E1E1E;
    padding-right: 20px;
}

li:active .here {
    display: inline-block;
}


#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}
/*-------------- footer ----------------------*/
.collab {
      text-align: right;
}

.collab p {
      margin-bottom: 10px;
      font-size: 15px;
}

.hr {
      height: 1px;
}

.info h4 {
      font-size: 13px;
      margin-top: 9px;
}
#address {
      text-align: left;
      font-size: 20px;
}
.hello{
  width: 3%;
  margin-top: -0.5%;
}

@media(max-width: 768px) {
      .collab, #personal, #media, #address {
            text-align: center;
      }

      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}


/*-------------------- FITBUDDY  ------------ */
.container{
  width: 100%;
}
.img{
  width: 100%
}

/* titles*/
.titF{
  font-size: 80px;
  color: #03204F;
}

.titF2{
  margin-top: -5%;
  color:#03204F;
}
.scope{
  margin-top: -1%;

}
/*fitbuddy scope*/
.tt{
  font-size: 20px;
   color:#03204F;
  
}
.vl { /*space bw image and text*/
  border-left: 10px solid #F8F8F8;
  height: 450px;
  float: left;
}
.vl2 { /*space bw image and text*/
  border-left: 20px solid #F8F8F8;
  height: 130px;
  float: left;
 }
hr{
  width: 80%;
}
/*1st paragraph */
.para1{
  font-size: 17px;
  font-family: Apercu, Mabry, sans-serif;
}
.para2{
  font-size: 19px;
  font-family: Apercu, Mabry, sans-serif;
}
.para3{
  font-size: 14px;
  font-family: Apercu, Mabry, sans-serif;
}
.para4{
  font-size: 18px;
  font-family: Apercu, Mabry, sans-serif;
}
.ls li{
  font-size: 17px;
}

/* title end */

.homeph{
  width: 30%;
  float: left;
  margin-left: 25%;
}

.title{
  font-size: 20px;
   color: #03204F;
}
/* overview titles */
.txt{
  font-size: 30px;
  float: right;

}
.txt1{
  font-size: 30px;
  margin-left: -10%;
}
.rutinatxt{
  color: #ED8888;
}
.fitbtxt{
  color: #03204F;
}

.overview{
  margin: 18%;
  margin-top: -3%;
}

.fbphone1{
  width: 25%;
  float: left;
}
.rutphone1{
  width: 35%;
  float: left;
}

.highlight {
background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #DEEBE1 50%);
}
.highlight1 {
background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FDEBB9 50%);
}
.highlight2 {
background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #EECCC2 50%);
}
.highlight3 {
background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #E8F7FF 100%);
}

.storyboard{
  width: 120%;
  margin-left: -10%;
}
/*user testing kal*/
.avatar{
	width: 15%;
	float: left;
}

.ph{
	width: 30%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.ph1{
	width: 80%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.styleguide{
  width: 120%;
  margin-left: -10%;
}
.finalgif{
  width: 30%;
}
/*----- */
h4{
margin-bottom: 5%;
}
.link{
 color: #007AFF;
}
.link:hover{
  color: #FC9B3B;
}
.problem{
   margin: 18%;
   margin-top: -13%;
}
.process{
  margin: 18%;
  margin-top: -15%;
}
.dp1{
  width: 100%;
}
/*--------------------------NAV------------------------*/
/*--------------------------PREV------------------------*/
/*--------------------------NEXT-----------------------*/
.prev1{
    font-size: 15px;
}
.next2{
    font-size: 20px;
    text-align: right;
}
/*--------------------------RUTINA------------------------*/
/*--------------------------RUTINA------------------------*/
/*--------------------------RUTINA------------------------*/

.titR{
  color: #EC9482;
  font-size: 80px;
}
.titR1{
  color: #FFC653;
  margin-top: -4%;
}
/*rutina scope*/
.tt1{
  font-size: 20px;
}
.process2{
  margin-left: 22%;

}
.quote{
  width: 80%;
}

.hr1{
  width: 70%;
}
.rutgif{
  width: 30%;
}
.link2{
  color: #EC9482;
}
.link2:hover{
  color: #FFC653;
}
.center2{
  margin-left: 25%;
} 

/*--------------------------INSU------------------------*/
/*--------------------------INSU------------------------*/
/*--------------------------INSU-----------------------*/
.titI{
  color: #41948E;
  font-size: 50px;
}
.titI2{
  margin-top: -5%;
  font-size: 30px;
}

.txtinsu{
  font-size: 40px;
  margin-left: -5%;
}
.link1{
  color: #41948E;
  font-size: 20px;
}
.link1:hover{
  color: #41948E;
}

.tp{
  width: 90%;
}
.figure{
  color: #595959;
  font-size: 14px;
}
.quotes{
  color: #2E6159;
  font-size: 18px;
  font-style: italic;
}
.pp{
  font-size: 14px;
}

.fdftext2{
  margin-top: 5%;
  font-size: 23px;
  margin-left: 20px;
}
/*fit--------*/

.txt4{
  font-size: 30px;
  margin-left: -10%;
  color: #5F9E41;
}

/*--------------------------LGBT------------------------*/
/*--------------------------COMMUNITY------------------------*/
/*--------------------------NETWORK-----------------------*/

.titL{
  font-size: 50px;
}
.titL2{
  margin-top: -5%;
  color: #E94E51;
  font-size: 40px;
}

.item {
  display: inline-block;

}
.box {
  float: left;
  margin-left: 1.2%;
  margin-top: 2%;
  font-size: 1.3vw;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;

}

/* on PC */
@media screen and (min-width: 550px) {
  .featured-image {
    float: left;
    width: 70%;
    padding-right: 15px;
  }
  .featured-image img {
    width: 100%;
  }
}

.highlightlgbt {
  display: inline;
  padding: .25em 0;
  background: #FFC107;
  color: #ffffff;
  box-shadow: .5em 0 0 #FFC107, -.5em 0 0 #FFC107;
}

.x-callout {
  border: solid transparent;
  padding: 30px;
  background-color: #EFEFEF;
  box-shadow: none;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
}
.x-callout2 {
  border: solid transparent;
  padding: 30px;
  background-color: #E1F0DB;
  box-shadow: none;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
}
.x-callout3 {
  border: solid transparent;
  padding: 20px;
  background-color: #ECEBFC;
  box-shadow: none;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  border-bottom-left-radius: 5px; 
}
.x-callout4 {
  border: solid transparent;
  padding: 10px;
  background-color: #EFEFEF;
  box-shadow: none;
  border-top-left-radius: 1px; 
  border-top-right-radius: 1px; 
  border-bottom-right-radius: 1px; 
  border-bottom-left-radius: 1px; 
}


.lgtbttxt1{
  font-size: 25px;
  font-family: ApercuBold, Mabry, sans-serif;
}

.link2{
  color: #E94E51;
  font-size: 20px;
}
.call-out-text {
  flex 1;
  width: 100%;
  padding-left: 10px;
  border-left: 5px solid blue;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 30px;
  border-radius: 15px;
  margin: 10px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* zoom in*/
.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(1.5);
  cursor: zoom-out
}

/* on Mobile */
@media screen and (max-width: 550px) {
  .featured-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .featured-image img {
    width: 100%;
  }
  .box {
    margin-left:5%;
    width: 20%;
    font-size: 3vw;
  }
.titL{
  font-size: 30px;
  }
.lgtbttxt1{
  font-size: 18px;
  margin-bottom: 15%;
  }
  .txt5{
  font-size: 25px;
  margin-top: 10%;
  }
  .para1{
  font-size: 13px;
  font-family: Apercu, Mabry, sans-serif;
}
  .para2{
  font-size: 15px;
  }
  .strong{
   text-decoration: underline;
  }
}
/*---------_DEXCOM--------------*/
.titledex{
  color: #202D6B;
}
.nda{
  font-weight: bold;
  color:#56A944;
  font-size: 23px;
  text-align: center;
}
.blur{
  filter: blur(2px);
}
.half-line {
  line-height: 2.5em;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color:#E8F7FF;  
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 10px 10px 0px 0px;
  text-align: left;
  outline: none;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #d1cfcf;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 18px 18px;
  display: none;
  font-size: 20px;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
  background-color: #E8F7FF;

}
/* ----quote bubble---- */
.bubble {
  --r: 1em;  /* the radius */
  --t: 1.5em; /* the size of the tail */
  
  max-width: 500px;
  padding: 1em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t))/var(--r);
  mask: 
    radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
      var(--_p) 100%/var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
  background: linear-gradient(9deg, rgba(183,233,207,1) 2%, rgba(192,216,226,1) 60%) border-box;
  color: #202D6B;
  font-size: 18px;
}
.left {
  --_p: 0;
  border-bottom-left-radius: 0 0;
  place-self: start;
}
.right {
  --_p: 100%;
  border-bottom-right-radius: 0 0;
  place-self: end;
}

/* -----end of  quote bubble----- */
